body{
    margin:0%;
    padding:0%;
    
    }
  #navbar{
    display:flex;
   background-color: #f5f5f5;
    flex-direction: row;
    height:50px;
  
    #nav-image{
      margin-left: 10px;
      width:50%;
    }
    #nav-right{
      margin-left: 300px;
      margin-right: 0%;
      min-width:30%;
      display:inline-flex;
      justify-content: space-around;
    }
  }
  
  
  
  
  #navbar2{
    background-color: black;
    margin-left: 125px;
    margin-right: 125px;
    height: 100px;
    color: honeydew;
    #image{
      margin-left: 393px;
      margin-top: -85px;
    }
    #inner{
      margin-left: 10px;
    }
    
   
  }
  

  #lower{
    display: flex;
    margin-left: 125px;
    margin-right: 125px;
    justify-content: space-between;
      #profile-image-1{
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);
width:18%;
height:150px;
#profile-img{
    width:100%;
    height:100%;
}
      }

      #profile-detail{
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);
          width: 81%;
          height:570px;

          #name{
              display: flex;
              flex-direction: row;
              p{
                margin-left: 5px;
            }
            .type-text-name{
                margin-top: -10px;
            
                
            }
              #display-name{
                  
                  margin-left: 8px;
                  background-color: #F7F8FF;
                  border: none;
                  height: 25px;
              }
              #last{
                  p{
                  margin-left:90px ;
                  font-family: Montserrat;
                  }
              #last-name{
                  margin-left: 90px;
                  background-color: #F7F8FF;
                  border: none;
                  height: 25px;
              }
            }
            #first{
                p{
                    margin-left:90px ;
                    }
              #first-name{
                background-color: #F7F8FF;
                border: none;
                margin-left: 90px;
                height: 25px;
              }
            }
          }
           #About{
            p{
                margin-left: 5px;
                  }
          #about-text{
             margin-top: -10px;
            background-color: #F7F8FF;
              height: 80px;
              border:none;
              width:440px;
              margin-left: 8px;
          }
        }

        #area-of-interest{
p{
    margin-left: 7px;
}
            #checkbox{
                margin-top: -10px;
                
                


            }
        }
      }
  }




  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5px;
    height: 18px;
    width: 18px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #FF6738;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

 .container-radio{
     margin-left: 7px;
 }

 .container-radio input:checked ~ .checkmark-radio {
    background-color: #FF6738;
  }

 #expertise{
     
     margin-top: -5px;
     margin-left: 8px;
     background-color: #F7F8FF;
     border: none;
     height: 25px;
     
 }

 #ham-img{
  visibility: hidden;;
  
}
//Mobile Responsiveness



@media screen and (max-width:700px)
{
  
 #navbar{
  
   #nav-image{
     margin-left: 48px;
     width:auto;
   }
   #nav-right{

   margin-left: 0%;
   #nav-course,#wishlist{
     visibility: hidden;
   }
   #cart-image{
     margin-left:-140px;
   }
   #profile-image{
     margin-left:-80px;
   }
  }

   
 }
   
  #ham-img{
    visibility: visible;
    margin-left: 10px;
    margin-top:-8000px;
    margin-bottom:1990px;
    
    
}
#navbar2{
  width:79%;
  margin-left:10px;
  margin-right:20px;

  #inner{
    
  }
  #image{
    margin-left:-439px;
  }
}

#ham-img{
  visibility: visible;
  margin-left: 10px;
  margin-top:-900px;
  margin-bottom:1190px;
  
  
}
#lower{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
    #profile-image-1{
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);
width:50%;
height:150px;
margin-left: 60px;
#profile-img{
  width:100%;
  height:100%;
}
    }

    #profile-detail{
     
        width: 81%;
        height:570px;
        box-shadow: none;
        #name{
            display: flex;
            flex-direction: column;
            p{
              margin-left: 5px;
          }
          .type-text-name{
              margin-top: -10px;
          
              
          }
            #display-name{
                
                margin-left: 8px;
                background-color: #F7F8FF;
                border: none;
                height: 25px;
                width:100%;
            }
            #last{
                p{
                margin-left:8px ;
                }
            #last-name{
                margin-left: 8px;
                background-color: #F7F8FF;
                border: none;
                height: 25px;
                width:100%;
            }
          }
          #first{
              p{
                  margin-left:8px ;
                  }
            #first-name{
              background-color: #F7F8FF;
              border: none;
              margin-left: 8px;
              height: 25px;
              width:100%;
            }
          }
        }
         #About{
          p{
              margin-left: 5px;
                }
        #about-text{
           margin-top: -10px;
          background-color: #F7F8FF;
            height: 80px;
            border:none;
            width:100%;
            margin-left: 8px;
        }
      }

      #area-of-interest{
p{
  margin-left: 7px;
}
          #checkbox{
              margin-top: -10px;
              
              


          }
      }
    }
}

#cart-image,#profile-image{
  visibility: hidden;
}
}