body{
  margin:0%;
  padding:0%;
  }
  
#navbar{
  display:flex;
 background-color: #f5f5f5;
  flex-direction: row;
  height:50px;

  #nav-image{
    margin-left: 10px;
    width:50%;
  }
  #nav-right{
    margin-left: 300px;
    margin-right: 5%;
    min-width:30%;
    display:inline-flex;
    justify-content: space-around;

#nav-course{
  padding-top:16px;
}
    #cart-image{
      padding-top: 10px;
    }

    #profile-image{
      padding-top: 10px
    }
  }
}




#navbar2{
  background-color: black;
  margin-left: 125px;
  margin-right: 125px;
  height: 100px;
  color: honeydew;
  #image{
    margin-left: 350px;
    margin-top: -80px;
  }
  #inner{
    margin-left: 10px;
    #p1{
padding-top:10px;
    };
    #p2{
margin-top:-10px;
    }
  }
  
 
}

#lower{
  display: flex;
  margin-left: 125px;
  margin-right: 125px;
  justify-content: space-between;

  #left{
    
    height: 420px;
   
    width:74%;

    #left-start{
      height: 60px;
      display: flex;
      justify-content: space-between;
      strong{
        padding-top: 15px;padding-left: 10px;
      };
      img{
        padding-top: 10px
      }
      
  
  }


  #l-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .left-detail{
      height:18%;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);
      width:100%;
      
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .img-1{
        padding: 10px;
      }

      .left-subdetail{
        width:32%;
        margin-top: 5px;

        #left-subbutton{
          .left-btn{
            background-color: #E25B32;
            border: none;
            margin:1px;
            border-radius: 5px;
        }
        }
        
    }
    p{
      margin-top:18px;
    }
    
    .img-2{
      margin-top:16px;
    };

    strong{
      margin-top: 18px;
    }
 .sub-inner{
   margin-top: 18px;
 }
    
    .left-btn-1{
      background-color: #FF6738;
      height:30px;
      margin-top: 20px;
      width:150px;
      border: none;
      border-radius: 5px;
  }
  .img-3{
    margin-top:18px;
  }
  }
}
}
#right{
    
    height: 350px;
    width:25%;
    #right-start{
    
      height: 60px;
      #search{
        width: 100%;
        display: flex;
        padding-top: 10px;
        #gsearch{
          width:85%;
      height: 40px;
      input{
        width:100%;height: 30px;background-color: #EFF2FF;border:none;
      }
      }
      #img-search{
          width:15%;
          height:30px;
          background-color:#FF6738;
          img{
            width:100% ;height:30px;
            margin:2px;
          }
      }
      
        
        }
  }

  #cart-details{
    height:100%;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);

    #cart-inner{
      height:70px;
    }

    #str1{
      margin-left: 45px;
    };
    #line1{
      height:2px;background-color:lightgray;margin-left:20px;margin-right:20px
    }

    #cartcontent{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      

      img{
        width: 30%;
        margin:2px;
        margin-top:-20px;
        
      }
      
      .text{
        width:68%;
        
        p{
         
          height: 30px;
        };
        .str{
          
          
          margin-left :80px;
          padding-left: 90px;
          
        }
      }

    }

    em{
      margin-left:10px;margin-right: 10px;color:lightgray
    };

    #line2{
      height:2px;background-color:lightgray;margin:20px;
      

      p{
        padding-top:10px;
        
      }
      strong{
        padding-top:-5px;
      }
    }
    p{
      margin-left: 15px;
    }
    #cart-price{
      margin-left: 15px;

      #check{
        color:#FF6738;
        margin-top:-30px;
        margin-left: 150px;
        font-size: 12px;
      }
    }

}
}

}




#cart-details-cartpage{
  height:150px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);
  margin-top: -17px;

  p{
    padding-top: 15px;
    padding-left: 12px;
  }
}







  
  #ham-img{
  visibility: hidden;

}





//////////////////////////////////////////////Media Query///////////////////////////////////
@media screen and (max-width:700px)
{
  
 #navbar{
  
   #nav-image{
     margin-left: 48px;
     width:auto;
   }
   #nav-right{

   margin-left: 0%;
   #nav-course,#wishlist{
     visibility: hidden;
   }
   #cart-image{
     margin-left:-140px;
   }
   #profile-image{
     margin-left:-80px;
   }
  }

   
 }
   
  #ham-img{
    visibility: visible;
    margin-left: 10px;
    margin-top:-8000px;
    margin-bottom:1990px;
    
    
}
#navbar2{
  width:79%;
  margin-left:10px;
  margin-right:20px;

  #inner{
    
  }
  #image{
    margin-left:-439px;
  }
}

#right{
  visibility:hidden;
}
#lower{
  margin-left:0%;
  #left{
    height:1850px;
#left-start{
  margin-left:0%;

 
}
#l-detail{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  width:292px;
  .left-detail{
  display:flex;
  flex-direction:column;
  width:48%;
  height:600px;
  
  .left-btn-1{
  width:100%;
}
}

}
  }
}

#filter-image{
margin-left:52%;

}


#left-subbutton{
  display:flex;
  flex-direction:row;
  order:1;
};

.img-2,.img-3{
  visibility:hidden;
}
.img-1{
  width:100%;
  margin-left:-10px;
 // margin-top:15px;
};


}


//Overlay

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color: black;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 26px;
  
}
